<%- include('includes/head') %>
<%- include('includes/nav') %>

  <section class="container">
    <h1>Olá <%= usuario.email %>, seja bem-vindo</h1>
    <span>Você precisa sair para criar uma nova conta.</span>

    <%- include('includes/messages') %>
    
  </section>

<%- include('includes/footer') %>