<%- include('includes/head') %>
<%- include('includes/nav') %>

  <section class="container">
    <h1>Agenda</h1>
    <span>Abaixo estão todos os seus contatos.</span>

    <%- include('includes/messages') %>
    
    <% if (contatos.length > 0) { %>
      <table>
        <% contatos.forEach(contato => { %>
          <tr>
            <td><%= contato.nome %></td>
            <td><%= contato.sobrenome %></td>
            <td><%= contato.email %></td>
            <td><%= contato.telefone %></td>
            <td>
              <a href="/contatos/edit/<%= contato._id %>" class="editar">
                Editar
              </a>
            </td>
            <td>
              <a href="/contatos/delete/<%= contato._id %>" class="excluir">
                Excluir
              </a>
            </td>
          </tr>
        <% }) %>
      </table>
    <% } else { %>
      <strong>Nenhum contato cadastrado</strong>
    <% } %>

  </section>

<%- include('includes/footer') %>