<%- include('includes/head') %>
<%- include('includes/nav') %>

  <form action="/register" class="form form-cadastro" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <h1>Cadastrar</h1>
    <p>Se ainda não possui uma conta, use o formulário abaixo para criar.</p>

    <%- include('includes/messages') %>
    
    <div>
      <label for="email">Endereço de email</label>
      <input type="email" id="email" placeholder="Informe seu email" name="email">
    </div>
    <div>
      <label for="senha">Senha</label>
      <input type="password" id="senha" placeholder="Senha" name="senha">
    </div>
    <button type="submit">Criar minha conta</button>
    <a href="/login">Já possui uma conta? Entrar</a>
  </form>

<%- include('includes/footer') %>